{
    "birthdays": [
        {
            "name": "爸爸",
            "lunar_date": {
                "month": 8,
                "day": 15
            }
        },
        {
            "name": "妈妈",
            "lunar_date": {
                "month": 3,
                "day": 18
            }
        },
        {
            "name": "奶奶",
            "lunar_date": {
                "month": 1,
                "day": 15
            }
        }
    ]
} 