{
    "sender": {
        "email": "2186840198@qq.com",
        "password": "tvgllwuvwkqgecic",
        "smtp_server": "smtp.qq.com",
        "smtp_port": 587
    },
    "recipients": [
        "2186480198@qq.com"
    ]
} 