{
    "sender": {
        "email": "2186840198@qq.com",
        "password": "tvgllwuvwkqgecic",
        "smtp_server": "smtp.qq.com",
        "smtp_port": 465
    },
    "recipients": [
        "2186840198@qq.com",
        "family_member1@example.com",
        "family_member2@example.com"
    ]
} 