{
    "sender": {
        "email": "2186840198@qq.com",
        "password": "tvgllwuvwkqgecic",
        "smtp_server": "smtp.qq.com",
        "smtp_port": 465
    },
    "recipients": [
        "friend1@example.com",
        "friend2@example.com",
        "friend3@example.com"
    ]
} 